
.post{
  background-color: #adcad6;
  max-width: 80vw;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 30px;
  border-radius: 15px;
  padding: 18px;
}
.userName{
  color: #006e90;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
}
.postText{
  color: white;
  font-size:2.5rem;
  font-weight: 100;
}